--extra-index-url https://d33sy5i8bnduwe.cloudfront.net/simple/
aiofiles
anyio
certifi
charset-normalizer
dnspython
emergentintegrations
fastapi
httpcore
httpx
idna
motor
pydantic
pymongo
python-dotenv
python-multipart
requests
sniffio
starlette
uvicorn

